<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>클릭 페이지</title>

  <link rel='stylesheet' href='css/Info_Page.css' type='text/css' />
  <link rel='stylesheet' href='css/basicPart.css' type='text/css'/>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awsome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" />
  <script src="js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


<body>

    <div class='Tour__Header'>
    <nav class='navbar navbar-fixed-top'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <button type='button' class='navbar-toggle collapsed' data-toggle='collapsed' data-target='#bs-example-navbar-collapse-1'>
                <span class='menu' id='small_login'>로그인</span>
                </button>
                <a class='navbar-brand' href="Main_Page.html"> Freshkilla</a>
            </div>
                <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
                    <ul class='nav navbar-nav navbar-right'>
                        <li class="active">
                            <a class='menu' href="#">도움말</a>
                        </li>
                        <li>
                            <a class='menu' href="#">회원가입</a>
                        </li>
                        <li>
                            <a class='menu' href="#">로그인</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    </div>



    <div class='Tour__Info'>
        <div class='Fashion__Info container'>
            <div class='Fashion__InfoL row col-lg-6' >
                <div class='Fashion__Title'>
                    <h1>Merci</h1>
                    
                    <h3>111 boulevard Beaumarchais 75003 Paris</h3>
                    <h4>Shopping Street</h4>
                        
                </div>
                <hr />
                <div class='Fashion__Summary'>

                    <h4>교통</h4>
                    <p>메트로 8호선 Saint-Sebastian Froissart</p>
                    <div class='Fashion__Summary2'>
                        <h4>오픈시간</h4>
                        <p>
                            Mon ~ Sat 10am - 7pm / Sun Closed/    
                        </p>
                    </div>
                </div>
                <hr />
                <div class='Fashion__Intro'>

                    <h4>소개</h4>
                    <p>
                            메르시는 Marie-France Cohen이라는 기업인이 2009년에
                            만들어 역사가 길지 않은 새내기 컨셉 스토어
                    </p>


                </div>
                <hr />

                <div class='Fashion__Review'>
                    <h1>review</h1>



                </div>


            </div>
        

            <div class='Fashion__InfoR row col-lg-6'>
                <div class='Fashion__img'>

                    <img src='./img/paris_shopping.jpg' alt='Merci' />
                </div>
                <hr />

                <div class='Fashion__Price'>

                    <h4>작성자</h4>
                    <p>안상형(@dkstkdgud)</p>
                    <a href='http://www.naver.com'>
                    <img src='./img/facebook_icon.jpg' alt='facebook'/>
                    </a>
                </div>
                <hr />

                <div class='Fashion__SNS'>


                    <h1>SNS</h1>
                </div>
                <hr />
            </div>
        </div>
    </div>


</body>


    <div class='Tour__Footer'>
            <div class="Footer container">
                <div class="row">
                    <div class="Footer__Section col-sm-3">
                        <h5>Freshkilla</h5>
                        <ul>
                            <li>
                                <a>Freshkilla Reviews</a>
                            </li>
                            <li>
                                <a>Sitemap</a>
                            </li>
                            <li>
                                <a>Customer Service</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Footer__Section col-sm-3">
                        <h5>About us</h5>
                        <ul>
                            <li>
                                <a>Company Information</a>
                            </li>
                            <li>
                                <a>Contact us</a>
                            </li>
                            <li>
                                <a>Contact support</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Footer__Section col-sm-3">
                        <h5>Plan Events</h5>
                        <ul>
                            <li>
                                <a>Music</a>
                            </li>
                            <li>
                                <a>Fashion</a>
                            </li>
                            <li>
                                <a>Sport</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Footer__Section col-sm-3">
                        <h5>Legal</h5>
                        <ul>
                            <li>
                                <a>Security</a>
                            </li>
                            <li>
                                <a>Pricing</a>
                            </li>
                            <li>
                                <a>Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
            <div class="Footer__brand col-md-12 text-center">
                <div class="Company">&copy; 2018 Freshkilla</div>
            </div>
            
    </div>
</html>