<html>

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>FreshKilla</title>

  <link rel='stylesheet' href='css/Main_page.css' type='text/css' />
  <link rel='stylesheet' href='css/basicPart.css' type='text/css' />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awsome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap.css" rel="stylesheet" />
  <script src="js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>


<body>

  <div class='Tour__Header'>
    <nav class='navbar navbar-fixed-top'>
      <div class='container-fluid'>
        <div class='navbar-header'>
          <button type='button' class='navbar-toggle collapsed' data-toggle='collapsed' data-target='#bs-example-navbar-collapse-1'>
            <span class='menu' id='small_login'>로그인</span>
          </button>
          <a class='navbar-brand' href="#"> Freshkilla</a>
        </div>
        <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
          <ul class='nav navbar-nav navbar-right'>
            <li class="active">
              <a class='menu' href="#">도움말</a>
            </li>
            <li>
              <a class='menu' href="#">회원가입</a>
            </li>
            <li>
              <a class='menu' href="#">로그인</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </nav>
  </div>

  <div class='Tour__Menu container'>
    <h3 id='Menu__Title'>Menu</h3>
    <hr />

    <div class='Menu__Content row'>
      <div class='Content__Section col-lg-3 col-sm-6 col-xs-12 pull-left'>
        <a class='Menu__link' href='http://www.google.com'>
          <img class='Menu__img pull-left' src='./img/bridge.jpg' />
            <h3>Food</h3>
        </a>
      </div>



        <div class='Content__Section col-lg-3 col-sm-6 col-xs-12 pull-left'>
          <a class='Menu__link' href='http://www.google.com'>
            <img class='Menu__img pull-left' src='./img/effel.jpg' />
              <h3>Fashion</h3>
          </a>
        </div>


        <div class='Content__Section col-lg-3 col-sm-6 col-xs-12 pull-left'>
          <a class='Menu__link' href='http://www.google.com'>
            <img class='Menu__img pull-left' src='./img/effel.jpg' />
              <h3>Broadcast</h3>
          </a>
        </div>

      </div>
    </div>



 <!-- Tour__Body -->
    <div class='Tour__Body container'>
      <h3 id='Body__Title'>Fashion</h3>
      <hr />


      <div class='Body__Content row'>
        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='./Info_Page.html'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/france_effel.jpg' alt='food' />
              <p class='Content__Type card-text'>Fashion</p>

              <h4 class="Content__Name card-header">Effel Tower</h4>
              <div class="Content__Con">
                <p class='card-text'>address</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.naver.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/paris_street.jpg' alt='fashion' />
              <p class='Content__Type card-text'>Fashion</p>
              <h4 class="Content__Name card-header">Bridge</h4>
              <div class="Content__Con">
                <p class="card-text">There is a Bridge in France</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.naver.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/paris_gate.jpg' alt='fashion' />
              <p class='Content__Type card-text'>Fashion</p>

              <h4 class="Content__Name card-header">Bridge</h4>
              <div class="Content__Con">
                <p class="card-text">There is a Bridge in France</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.naver.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/france_museum.jpg' alt='fashion' />
              <p class='Content__Type card-text'>Fashion</p>

              <h4 class="Content__Name card-header">Bridge</h4>
              <div class="Content__Con">
                <p class="card-text">There is a Bridge in France</p>
              </div>
            </div>
          </a>
        </div>
      </div>


      <div class = 'Body__Content row'>
        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.google.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/england_street.jpg' alt='food' />
              <p class='Content__Type card-text'>Fashion</p>

              <h4 class="Content__Name card-header">BigBen</h4>
              <div class="Content__Con">
                <p class='card-text'>address</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.google.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/eng_bigben.jpg' alt='food' />
              <p class='Content__Type card-text'>Fashion</p>

              <h4 class="Content__Name card-header">Street</h4>
              <div class="Content__Con">

                <p class='card-text'>address</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.google.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/england_stone.jpg' alt='food' />
              <p class='Content__Type card-text'>Fashion</p>
              <h4 class="Content__Name card-header">StoneHenge</h4>
              <div class="Content__Con">
                <p class='card-text'>address</p>
              </div>
            </div>
          </a>
        </div>

        <div class="Body__Section col-lg-3 col-sm-6 col-xs-12">
          <a class='Body__link' href='http://www.google.com'>
            <div class="card h-100">
              <img class='Body__img card-image-top' src='./img/england_tower.jpg' alt='food' />
              <p class='Content__Type card-text'>Fashion</p>
              <h4 class="Content__Name card-header">Tower Bridge</h4>
                <div class="Content__Con">
                  <p class='card-text'>address</p>
                </div>
            </div>
          </a>
        </div>
      </div>

    </div>
    <!-- Tour_Body 아래 Tour_Bottom(Footer와 다름) -->
    <!-- 인기 여행지 -->
    <div class='Tour__Bottom container'>
      <h3 id='Bottom__Title'>Best Place</h3>
      <hr />

      <div class='Bottom__Content row'>

        <div class='Bottom__Section col-lg-3 col-sm-6 col-xs-12'>
          <a class='Bottom__link' href="http://www.daum.net">
            <div class='card h-100'>
              <img class='Bottom__img card-image-top' src='./img/japan_flag.png' alt='BestPlace' />
              <h4 class='Content__Name card-header'>OSAKA</h4>

            </div>
          </a>
        </div>

        <div class='Bottom__Section col-lg-3 col-sm-6 col-xs-12'>
          <a class='Bottom__link' href="http://www.daum.net">
            <div class='card h-100'>
              <img class='Bottom__img card-image-top' src='./img/america_flag.png' alt='BestPlace' />
              <h4 class='Content__Name card-header'>USA</h4>

            </div>
          </a>
        </div>
      </div>
     </div>


      <div class='Tour__Footer'>
              <div class="Footer container">
                  <div class="row">
                      <div class="Footer__Section col-sm-3">
                          <h5>Freshkilla</h5>
                          <ul>
                              <li>
                                  <a>Freshkilla Reviews</a>
                              </li>
                              <li>
                                  <a>Sitemap</a>
                              </li>
                              <li>
                                  <a>Customer Service</a>
                              </li>
                          </ul>
                      </div>
                      <div class="Footer__Section col-sm-3">
                          <h5>About us</h5>
                          <ul>
                              <li>
                                  <a>Company Information</a>
                              </li>
                              <li>
                                  <a>Contact us</a>
                              </li>
                              <li>
                                  <a>Contact support</a>
                              </li>
                          </ul>
                      </div>
                      <div class="Footer__Section col-sm-3">
                          <h5>Plan Events</h5>
                          <ul>
                              <li>
                                  <a>Music</a>
                              </li>
                              <li>
                                  <a>Fashion</a>
                              </li>
                              <li>
                                  <a>Sport</a>
                              </li>
                          </ul>
                      </div>
                      <div class="Footer__Section col-sm-3">
                          <h5>Legal</h5>
                          <ul>
                              <li>
                                  <a>Security</a>
                              </li>
                              <li>
                                  <a>Pricing</a>
                              </li>
                              <li>
                                  <a>Privacy Policy</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
              <div class="Footer__brand col-md-12 text-center">
                  <div class="Company">&copy; 2018 Freshkilla</div>
              </div>
              
      </div>

</body>

</html>
